<div class="container mw-100 w-100" id="footer">
    <footer class="d-flex justify-content-between flex-wrap align-items-center py-3"  id="foot">
        <p class="col-md-4 mb-0 ps-4 fs-5">&copy; 2023 Everlink, Inc</p>

        <a href="/" class="col-md-4 d-flex align-items-center justify-content-center mb-3 mb-md-0 me-md-auto link-body-emphasis text-decoration-none">
        <svg class="bi me-2" width="40" height="32"><use xlink:href="#bootstrap"/></svg>
        </a>

        <ul class="nav col-md-4 pe-4 justify-content-end custom_footer">
            <li class="nav-item"><a href="/" class="nav-link px-2 text-body-secondary fs-5">Home</a></li>
            <li class="nav-item"><a href="/faq" class="nav-link px-2 text-body-secondary fs-5">FAQs</a></li>
            <li class="nav-item"><a href="/contattaci" class="nav-link px-2 text-body-secondary fs-5">Contattaci</a></li>
        </ul>
    </footer>
</div>